<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
  <title>Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}" />
  <script class="u-script" type="text/javascript" src="{{ url_for('static', filename='scripts/checkbox.js') }}"
    defer=""></script>
  <script class="u-script" type="text/javascript" src="{{ url_for('static', filename='scripts/DirectionButtons.js') }}"
    defer=""></script>
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
</head>

<body data-home-page="Home.html" data-home-page-title="Home" class="u-body">
  <header class="u-clearfix u-header u-header" id="sec-f281">


    <!--
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <a href="https://github.com/neelbhavsar99/ObjectDetection_CameraRig" class="u-image u-logo u-image-1">
        <img src="../static/images/default-logo.png" class="u-logo-image u-logo-image-1">
      </a>
      <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
        <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
          <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
            href="#">
            <svg class="u-svg-link" viewBox="0 0 24 24">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
            </svg>
            <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px"
              xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
              <g>
                <rect y="1" width="16" height="2"></rect>
                <rect y="7" width="16" height="2"></rect>
                <rect y="13" width="16" height="2"></rect>
              </g>
            </svg>
          </a>
        </div>
        <div class="u-nav-container">
          <ul class="u-nav u-unstyled u-nav-1">
            <li class="u-nav-item"><a
                class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                href="Home.html" style="padding: 10px 20px;">Home</a>
            </li>
            <li class="u-nav-item"><a
                class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                href="About.html" style="padding: 10px 20px;">About</a>
            </li>
            <li class="u-nav-item"><a
                class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                href="Contact.html" style="padding: 10px 20px;">Contact</a>
            </li>
          </ul>
        </div>
        <div class="u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-inner-container-layout u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html">Home</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="About.html">About</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="Contact.html">Contact</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav>
    </div>-->
  </header>
  <section class="u-align-center-sm u-align-center-xs u-clearfix u-image u-section-1" id="carousel_0669">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h2 class="u-text u-text-body-alt-color u-text-1">Object Detection Camera Rig, Capstone 2022</h2>
    </div>
    <div class="center" id="button-header"><a href="#VideoStream">Go to Video!</a></div>
  </section>

  <section class="u-clearfix u-custom-color-1 u-valign-middle u-section-3" id="carousel_b109">
    <div
      class="u-clearfix u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-gutter-0 u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div
            class="u-align-center-sm u-align-center-xs u-container-style u-layout-cell u-left-cell u-palette-2-base u-size-15 u-size-30-md u-layout-cell-1">
            <div class="u-container-layout u-valign-top u-container-layout-1">
              <h2 class="u-text u-text-1">01</h2>
              <h4 class="u-text u-text-2">Feature 1</h4>
              <p class="u-text u-text-3">Can automatically track you!</p><span
                class="u-icon u-icon-circle u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice"
                  viewBox="0 0 512 512" style="">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-d66b"></use>
                </svg></span>
            </div>
          </div>
          <div
            class="u-align-center-sm u-align-center-xs u-container-style u-layout-cell u-palette-3-base u-size-15 u-size-30-md u-layout-cell-2">
            <div class="u-container-layout u-valign-top u-container-layout-2">
              <h2 class="u-text u-text-4">02</h2>
              <h4 class="u-text u-text-5">FEATURE 2</h4>
              <p class="u-text u-text-6">Can control rig direction through the webapp!</p><span
                class="u-icon u-icon-circle u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice"
                  viewBox="0 0 512 512" style="">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-925e"></use>
                </svg></span>
            </div>
          </div>
          <div
            class="u-align-center-sm u-align-center-xs u-container-style u-layout-cell u-palette-5-dark-3 u-size-15 u-size-30-md u-layout-cell-3">
            <div class="u-container-layout u-valign-top u-container-layout-3">
              <h2 class="u-text u-text-7">03</h2>
              <h4 class="u-text u-text-8">FEATURE 3</h4>
              <p class="u-text u-text-9">Download your videos!</p><span class="u-icon u-icon-circle u-icon-3"><svg
                  class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style="">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2257"></use>
                </svg></span>
            </div>
          </div>
          <div
            class="u-align-center-sm u-align-center-xs u-container-style u-layout-cell u-palette-5-dark-2 u-right-cell u-size-15 u-size-30-md u-layout-cell-4">
            <div class="u-container-layout u-valign-top u-container-layout-4">
              <h2 class="u-text u-text-10">04</h2>
              <h4 class="u-text u-text-11">FEATURE 4</h4>
              <p class="u-text u-text-12">Object Tracking Mode!</p><span class="u-icon u-icon-circle u-icon-4"><svg
                  class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style="">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2da1"></use>
                </svg></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="VideoStream" class="u-align-center u-clearfix u-image u-shading u-section-4" src=""
    data-image-width="256" data-image-height="256" id="sec-24a0">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h2 class="u-text u-text-body-alt-color u-text-1">Video Stream</h2>
      <div>
        <img src="{{url_for('video') }}" width="50%" />
      </div>
      <p class="u-large-text u-text u-text-default u-text-variant u-text-2">Use buttons below to control Object
        Detection Camera Rig when in Free Scanning Mode</p>

      <div class="center" id="buttonboxbackleft"><a>LEFT</a></div>
      <div class="center" id="buttonboxbackstop"><a>STOP</a></div>
      <div class="center" id="buttonboxbackright"><a>RIGHT</a></div>
      <div>
        <input id="modeSelector" type="checkbox" />
        <label for="mode"> Free Scanning Mode</label>
      </div>
      <!--<a href="#" class="u-btn u-button-style u-palette-2-base u-btn-1">LEFT</a>-->
      <!--<a href="#" class="u-btn u-button-style u-palette-2-base u-btn-2">RIGHT</a>-->
    </div>
  </section>
  <section class="u-align-center u-clearfix u-image u-shading u-section-4" src="" data-image-width="256"
    data-image-height="256" id="sec-24a0">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h2 class="u-text u-text-default u-title u-text-1">Instructions</h2>
      <p class="u-large-text u-text u-text-default u-text-variant u-text-2">Follow the instructions below to use the
        Object Detection Camera Rig!</p>
      <ol class="center">
        <li>Allow Camera access</li>
        <li>Select mode</li>
        <li>Move around!</li>
      </ol>
      <!-- <a href="#" class="u-btn u-button-style u-palette-2-base u-btn-1">Read More</a>
      <a href="#" class="u-btn u-button-style u-palette-2-base u-btn-2">Read More</a>-->
    </div>
  </section>

  <!-- Meet The Team -->
  <section class="u-align-center u-clearfix u-palette-1-light-3 u-section-7" id="sec-5901">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-expanded-width-md u-expanded-width-xs u-list u-list-1">
        <h2 style="text-align: center;">MEET THE TEAM</h2>
        <div class="u-repeater u-repeater-1">
          <div class="u-align-left u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
              <div alt="" class="u-image u-image-circle u-image-4" data-image-width="881" data-image-height="1080">
              </div>
              <h5 class="u-text u-text-1">Wrichiek Kar</h5>
              <p class="u-text u-text-2">Full Stack Engineer</p>
            </div>
          </div>
          <div class="u-align-left u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
              <div alt="" class="u-image u-image-circle u-image-4" data-image-width="881" data-image-height="1080">
              </div>
              <h5 class="u-text u-text-3">Neel Bhavsar</h5>
              <p class="u-text u-text-4">Full Stack Engineer</p>
            </div>
          </div>
          <div class="u-align-left u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
              <div alt="" class="u-image u-image-circle u-image-4" data-image-width="881" data-image-height="1080">
              </div>
              <h5 class="u-text u-text-5">Hamza Mohiuddin</h5>
              <p class="u-text u-text-6">Full Stack Engineer</p>
            </div>
          </div>
          <div class="u-align-left u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
              <div alt="" class="u-image u-image-circle u-image-4" data-image-width="881" data-image-height="1080">
              </div>
              <h5 class="u-text u-text-7">Junaid Mirza</h5>
              <p class="u-text u-text-8">Hardware Engineer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-a04a">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">Object Detection Camera Rig Capstone 2022</p>
    </div>
  </footer>

  </div>
</body>

</html>